.toy-list {
    margin: 0 auto;
    width: 75%;
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



.toy-review {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.toy-review >* {   
    margin: 0px 20px 0px 20px;
}

.toy-review h1{
    text-align: center;
}

.toy-review h2{
    text-align: left;
}

.toy-review #full-name {
    width: 200px;
}

.toy-review form {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.toy-review form label{
    display: flex;
    align-items: flex-start;
}

textarea {
    resize: none;
}

.star-list{
    display: flex;
    align-self: center;
    margin-right: 0.5rem;
    color: rgb(56, 56, 56);
}

.star-list .fa { 
    height: 25px;
    width: 25px;
}
.star:hover, .starred {
    color: orange;
}
.star:hover, .selected {
    color: orange;
}