#nav { 
background-color: #F6C8CC;
display: flex;
padding-bottom: 5vh;
justify-content: space-between;
color: #C15B78;

ul { 
    width: 25%;
    *{
        margin: 0 5%;
        color: #f87979;

    }
}
h1 { 
    font-family: 'Mon';
}
}

#nav a.router-link-exact-active {
    color: #fff;
}

#app { 
    background-color: #EBF5F7;
    min-height: 98vh;
    font-family: 'OpenSans';
p{
    color: #488b92;

}
    p{
        color: #806f74;
    }
}